<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Equipo 1: Cemex Ventures App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo">Equipo 1 Guadalajara</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<form action="/" method='POST'>	
					<p><button type="submit">Home</button></p>
				</form>
			</nav>

				<!-- Main -->
			<section id="main">
				<div class="image fit">
					<img src="static/pic11.png" alt="" />
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy;Equipo 1. Design: <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/jquery.min.js"></script>
			<script src="static/jquery.scrolly.min.js"></script>
			<script src="static/skel.min.js"></script>
			<script src="static/util.js"></script>
			<script src="static/main.js"></script>

	</body>
</html>