<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Equipo 1 Guadalajara: Cemex Ventures App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo">Equipo 1 Guadalajara</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<form action="/dashboard" method='POST'>	
					<p><button type="submit">Dashboard</button></p>
				</form>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Aplicación para la optimización de escenarios en producción</h1>
					<sub>Equipo 1 Guadalajara: Ernesto Borbón, José Gutiérrez, Luis Villaseñor, Gerardo Villegas<br></sub>
					<br>
					<ul class="inner">
							<li><a href="#one" class="button alt scrolly big">Continuar</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="static/pic14.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Modelo Predictivo</h2>
						</header>
						<form action="/submit" method='POST'>
						<p>
						<label for="input1">Calidad</label>
						<input type="decimal" name="input1"><br>
						<label for="input2">Dureza</label>
						<input type="number" name="input2"><br>
						<label for="input3">Tasa de Producción</label>
						<input type="number" name="input3">
						<p><button type="submit">Submit</button></p>
						</form>
					</div>
				</div>
			</article>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Equipo 1 Guadalajara. Design: <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/jquery.min.js"></script>
			<script src="static/jquery.scrolly.min.js"></script>
			<script src="static/skel.min.js"></script>
			<script src="static/util.js"></script>
			<script src="static/main.js"></script>

	</body>
</html>